<div class="todo-item-form">
  <form class="form" [formGroup]="todoItemForm">
    <mat-form-field class="input">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <p>
      <mat-form-field class="input">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Describe your goal" formControlName="description">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
    </p>
    <section class="example-section">
      <mat-checkbox class="example-margin" formControlName="important">Important!</mat-checkbox>
    </section>
  </form>
  <div class="action-button">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
