.my-todo-list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .no-todos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table {

  }
  .action-icon {
    cursor: pointer;
    margin: 0px 5px;
    &__delete {
      color: #d05757;
    }
    &__edit {
      color: #487de1;
    }
    &__done {
      color: #4da846;
    }

  }

}
